body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: 100%;
    background-image: url(../gambar/logo1.jpg);
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.kotak {
    background-color: #333;
    color: #ffffff;
    width: 250px;
    height: 400px;
    padding: 20px;
    border-radius: 40px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kotak h1 {
    font-size: 18px;
}

.kotak2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}
